[Desktop Entry]
Name=LaTeXila
GenericName=Integrated LaTeX Environment
GenericName[fr]=Environnement LaTeX intégré
GenericName[it]=Ambiente Integrato per LaTeX
Comment=Edit LaTeX documents
Comment[fr]=Éditer des documents LaTeX
Comment[it]=Editor per documenti LaTeX
Exec=latexila
Icon=latexila
Terminal=false
Type=Application
Categories=GTK;GNOME;Office;Publishing;
MimeType=text/x-tex;
Actions=Window;Document;

[Desktop Action Window]
Name=Open a New Window
Name[fr]=Ouvrir une Nouvelle Fenêtre
Exec=latexila --new-window

[Desktop Action Document]
Name=Open a New Document
Name[fr]=Ouvrir un Nouveau Document
Exec=latexila --new-document
